- content_for(:head) do
  = javascript_include_tag 'tic-tac-toe.js'

%h1 Tic Tac Toe

#status{:class => 'blue'}

%table#board
  %tbody
    - @board.each_slice(3) do |row|
      %tr
        - row.each do |cell|
          %td{:id => "cell_#{cell}"}

#buttons
  =button_to "New Game", root_path, :method => :get
  %button{:id => 'undo'} Undo