body {
	text-align: center;
}

#status {
  font-size: 20px;
  padding-bottom: 20px;
}

table#board {
  margin: auto;
  border-spacing: 0;
}

table#board td {
  width: 130px;
  height: 130px;
  font-size: 80px;
  text-align: center;
}

table#board tr:nth-child(-n+2) td {
  border-bottom: 1px solid #000;
}

table#board tr td:nth-child(-n+2) {
  border-right: 1px solid #000;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}